<ion-content>
  <div class="container step-three pt-5">
    <img src="assets/icon/lefft.svg" alt="left" />
    <p class="step-three__title--sub">My photo profile is</p>
      <input type="file" class="form-control step-three__tbx" >
      <div class="step-three__upload d-flex flex-column align-items-center text-center justify-content-center">
        <ion-icon name="image-outline" class="step-three__icon"></ion-icon>
        <p>Upload from gallery</p>
      </div>
    <ion-router-link href="/step-three" class="step-three__continue d-flex justify-content-center align-items-center deactive">Continue</ion-router-link>
  </div>
</ion-content>
