// color
$base_color: #ED694A;
$black: #000;
$white : #fff;

//bg color
$bg-white: #ffffff;
$bg-input: #f1f1f1;

//font

$font_poppin: 'Poppins', sans-serif;
$font_poppin--bold: 'Poppins-Bold', sans-serif;
$font_poppin--medium: 'Poppins-Medium', sans-serif;
$font_poppin--sembold: 'Poppins-SemBold', sans-serif;