<ion-content>
  <div class="container step-four pt-5">
    <img src="assets/icon/lefft.svg" alt="left" />
    <p class="step-four__title--sub">My photo profile is</p> 
    <p class="step-four__add">Add your playlist from</p>
    <div class="d-flex justify-content-around my-3">
      <img src="assets/icon/youtube.svg" alt="yt"/>
      <img src="assets/icon/zmp3.svg" alt="zm" />
    </div>
    <div class="row no-gutters d-flex justify-content-center mb-3">
      <div class="col-sm-3 col-6 text-center">
        <img src="assets/pop.svg" alt="pop" />
      </div>
      <div class="col-sm-3 col-6 text-center">
        <img src="assets/mood.svg" alt="pop" />
      </div>
      <div class="col-sm-3 col-6 text-center">
        <img src="assets/classic.svg" alt="pop" />
      </div>
      <div class="col-sm-3 col-6 text-center">
        <img src="assets/pink.svg" alt="pop" />
      </div>
    </div>
    <ion-router-link href="/step-four" class="step-four__continue d-flex justify-content-center align-items-center deactive">Continue</ion-router-link>
  </div>
</ion-content>
